@media only screen and (min-width: 930px) {
.cartitem{
display: grid;
grid-template-columns: 1fr 2fr 0.1fr 0.1fr 0.1fr 1fr 1fr;
margin-bottom: 1vh;
}
.cartitem img{
    height: 60px;
    width: 120px;
    justify-self: center;
    align-self: center;
}
.cartitemname{
    margin-left: 10px;
    margin-right: 16px;
    font-size: 14px;
    justify-self: center;
    align-self: center;
}
.cartitem .price{
    margin-left: 65px;
    justify-self: center;
    align-self: center;
}
.cartitem span{
    margin-right: 5px;
    margin-left: 5px;
    justify-self: center;
align-self: center;
}
.cartitem .remove{
    margin-left: 50px;
    justify-self: center;
align-self: center;
}
.cartitem .remove:hover{
    cursor: pointer;
}
.cartitem span{
    font-weight: bold;
    justify-self: center;
    align-self: center;
}
.cartitem span:hover{
    cursor: pointer;
}
}


/*----------------------------------MOBILE SCREEN----------------------*/

@media only screen and (max-width: 930px) {
    .cartitem{
    display: grid;
    grid-template-columns: 1fr 2fr 0.1fr 0.1fr 0.1fr 1fr 1fr;
    margin-bottom: 1vh;
    }
    .cartitem img{
        height: 30px;
        width: 60px;
        justify-self: center;
        align-self: center;
    }
    .cartitemname{
        margin-left: 10px;
        margin-right: 16px;
        font-size: 13px;
        justify-self: center;
        align-self: center;
    }
    .cartitem .price{
        margin-left: 65px;
        justify-self: center;
        align-self: center;
    }
    .cartitem span{
        margin-right: 5px;
        margin-left: 5px;
        justify-self: center;
    align-self: center;
    }
    .cartitem .remove{
        margin-left: 50px;
        justify-self: center;
    align-self: center;
    }
    .cartitem .remove:hover{
        cursor: pointer;
    }
    .cartitem span{
        font-weight: bold;
        justify-self: center;
        align-self: center;
    }
    .cartitem span:hover{
        cursor: pointer;
    }
    }